
*{

padding: 0;
margin: 0;
-moz-box-sizing: border-box; /* Firefox */
-ms-box-sizing: border-box; /* Internet Explorer */
-webkit-box-sizing: border-box; /* Google Chrome & Safari */
box-sizing: border-box;
box-sizing: border-box;

}

h1{
  position: absolute;
	color: #f2f2f2;
	text-align: center;
	font-size: 80px;
	margin-top: 0px;
  margin-left: 50px;
	font-weight: bolder;
	letter-spacing: 3px;
	word-spacing: 7px;
	text-shadow: 3px 3px 2px rgba(255,255,255,0.5);
}

body{
  height:100vh;
  display: flex;
  background: url(img/bg2.jpg);
   background-attachment: fixed;
}

.gameBoard{
float: right;
top: 50px;
width: 800px;
height: 500px;
display: flex;
flex-wrap: wrap;
/* border: 2px solid white; */
margin: auto;
perspective: 1000px;

}

.memory-card {

width: calc(25% - 20px);
position: relative;
height: calc(33.333% - 20px);
margin:3px;
transform: scale(1);
transform-style: preserve-3d;
transition: transform .5s;
}

.memory-card:active {
  transform:scale(.97);
  transition: transform .2s;
}

.memory-card.flip{

  transform: rotateY(180deg);
}

.front {
width: 100%;
height:100%;
padding: 10px;
border-radius: 5px;
position: absolute;
border: 2px solid red;
backface-visibility: hidden;
}



.back {

  width: 100%;
  height:100%;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  border: 2px solid lightblue;
  backface-visibility: hidden;

}

.front {

transform: rotateY(180deg);

}

#info-bar {
  float:left;
	font-size: 50px;
	margin: auto;
  border: 2px solid white;

}

#timer {
	margin: 50px;
	margin-left: 0;
  padding-right: 95px;
	color: white;
	text-shadow: 1.5px 1.5px 1px rgba(255,255,255,0.5);
}

#points {
	margin: 50px;
	margin-left: 0px;
  padding-right: 95px;
	color: white;
	text-shadow: 1.5px 1.5px 1px rgba(255,255,255,0.5);
}

#new {
	background-color: #e6e6e6;
	margin-top: 0px;
	font-size: 40px;
	font-weight: 500;
	text-shadow: 2px 2px 2px rgba(94,119,115,0.82);
	border: 1px solid black;
  color: white;
	box-shadow: 2px 2px 1px 0px rgba(119,116,115,1);
	font-family: serif;

}

#result {
	display: none;
}



#result {
	z-index: 20;
	position: fixed;
	width: 500px;
	height: auto;
}

#popBody {
	background-color: white;
	height: 250px;
	border-style: solid;
	border-width: 2px 2px 0px 2px;
	border-color: #511519;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

#imgDiv {
	position: relative;
	width: 100px;
	height: 107px;
	margin: 20px auto;
	top: 10px;
}

#imgDiv img {
	width: 120px;
	height: 107px;
}

#h1Res {
	margin: 0px 12px 12px 12px;
	font-family: cursive;
	text-align: center;
	color: red;
  font-size: 60px;
margin-left: 85px;
}

#pRes {
	color: #4d0000;
	text-align: center;
	font-size: 15px;
}

#popOkay {
	height: 100px;
	background-color: #cf4a53;
	padding: 25px;
	border-style: solid;
	border-width: 0px 2px 2px 2px;
	border-color: #511519;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

#okayButton {
	height: 50px;
	width: 95px;
	margin: 0px auto;
}

#okayButton button {
	height: 50px;
	width: 95px;
	text-align: center;
	font-size: 18px;
	background-color: #4d0000;
	color: white;
	box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.5);
	border: none;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	cursor: pointer;
	border-radius: 5px;
	outline: none;
}
